<% layout('layout') %>
<div class="row">
    <div class="col"><h4>Results</h4></div>
</div>

<div class="row">
    <div class="col">
        <button type="button" id="copyBtn" class="btn btn-primary" onclick="copyToBoard();" > Copy to Clipboard </button>
        <br />
        <br />
        <textarea id="resultBox" rows="20"><%= output %></textarea>
    </div>
</div>
