/*  ### overwrite styles*/
.container {
    max-width: 768px;
    min-width: 280px;
}

textarea {
    resize: none;
    /* width: calc(100% - 17px); */
    width: 100%;
    /* padding-left: 10px; */
    border-radius: 4px;
}

.col-form-label {
    display: inline-block;
}

table input[type="text"] {
    margin-bottom: 0px;
}

td input[type="text"] {
    max-width: 100px;
}

.form-group.row input[type="text"] {
    /* width: calc(100% - 20px); */
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.form-check-label {
    display: inline-block;
}

.form-check-inline {
    display: inline;
}
/* .form-group.row > div[class^="col"]{
    display:inline-block;
}
 */
.form-group label{
    cursor: pointer;
}
/*  ### custom styles*/
#designType {
    width: 100% ;
}

/* #inputPrice,
#inputPtdCode {
    margin-bottom: 8px;
    padding-left: 9px;
    padding-right: 9px;
} */

.submitBtn {
    margin-left: auto;
    margin-right: auto;
}

#addRowBtn{
    float: right;
/*     margin-right: 8px; */
}


.required {
    color: red;
}